!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %title Trabsolute.events
    %meta{ :content => "Trabsolute event solutions", :name => "description" }
    %link{ :href => "css/main.css", :media => "screen", :rel => "stylesheet" }
    %link{ :href => "http://fonts.googleapis.com/css?family=Questrial", :rel => "stylesheet", :type => "text/css" }
  %body
    %header
      #branding
        .turntable
          = embedded_svg "logo.svg"
        .company-name
          = embedded_svg "name.svg"
      %nav
        %ul.nav.nav--fit
          %li.nav__item.desk-one-quarter.palm-one-whole<
            %a{ :href => "#what"} 
              What we do
              = embedded_svg "chevron-down.svg"
          %li.nav__item.desk-one-quarter.palm-one-whole><
            %a{ :href => "#who"}
              Who we are
              = embedded_svg "chevron-down.svg"
          %li.nav__item.desk-one-quarter.palm-one-whole><
            %a{ :href => "#clients"} 
              Some of our Clients
              = embedded_svg "chevron-down.svg"
          %li.nav__item.desk-one-quarter.palm-one-whole><
            %a{ :href => "#footer-spacer"} 
              Contact
              = embedded_svg "chevron-down.svg"
    %section#what
      %h1 What we do
      %article#what__crew
        .what__banner
          .what__icon.desk-one-third.palm-one-whole
            .what__icon--bg
              %figure
                = embedded_svg "speaker-clear.svg"
          .what__desc.desk-two-thirds.palm-one-whole>
            %h2 Crew
            %p We will provide crew members for your event. We can help you find Technicians, Drivers & Stagehands.
      %article#what__sound-and-light
        .what__banner
          .what__icon.desk-one-third.palm-one-whole
            .what__icon--bg
              %figure
                = embedded_svg "speaker-clear.svg"
          .what__desc.desk-two-thirds.palm-one-whole>
            %h2 Sound & Light
            %p Every party needs sound & light. Anything you need, we'll get it!
      %article#what__facility
        .what__banner
          .what__icon.desk-one-third.palm-one-whole
            .what__icon--bg
              %figure
                = embedded_svg "forklift.svg"
          .what__desc.desk-two-thirds.palm-one-whole>
            %h2 Facility management
            %p Infrastructure (entrance, fencing, decoration,
            Electricity (power supply and distribution)
            Transport (on-site and off-site)
    #footer-spacer    
    %footer#contact
      %address
        %p Trabsolute.events
        %span Bart Van Loon
        %span
          - encoded_email = email_encode "bart@trabsolute.events"
        %a{ :href => "mailto:" + encoded_email }
          != encoded_email
